<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    </head>
    <body>
        <headdata>
            <require name="title">
                <title attr>@@title</title>
            </require>
            <require name="notitle">
                <title>Page Title</title>
            </require>
        </headdata>
        <div id="go">
            <skip></skip>
            <content></content>
            <include name="Ash">../name.html</include>
        </div>
    </body>
</html>